body {
  background-color: #ffa600;
}

::selection {
  background: transparent;
  color: white;
  text-shadow: none;
}

.terminal {
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px rgba(255, 166, 0, 0.4);
  transform-origin: 50% 0%;
  box-shadow: 0 0 20px rgba(255, 166, 0, 0.2);  
  max-width: 900px;
  margin: 0 auto;   
}

#terminal-container {
  margin-top: 60px;
  --border-width: 60px;
  background-image: radial-gradient(
    rgba(191, 117, 0, 0.75), black 120%
  );
  background-size: cover;
  height: 600px;
  position: relative; 
  padding: var(--border-width);
  overflow: visible;
  
  &::after {
    content: '';
    position: absolute;
    inset: -40px;
    border-image: url('/assets/terminal-frame.png') 93 92 87 92 stretch stretch;
    border-style: inset;
    border-width: var(--border-width);
    pointer-events: none;
    z-index: 1;
  }
}

#terminal-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

#terminal-container output {
  color: #ffa600;
  display: block;
  transform-style: preserve-3d;
  clip-path: inset(0 20px 0 0);
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 40px,
    black calc(100% - 40px),
    transparent
  );
}

#terminal-container pre {
   margin: 0;
  position: relative;
  animation: textFlicker 0.3s infinite;
  perspective: 1000px;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  font-family: monospace;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: auto;
}